<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="jquery-2.1.4.js"></script>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBUn4VV7RzbmmupshD8Fh1ZLaXI12q4Ch0"></script>


        <style type="text/css">

        #map { width: 400px;
 		height: 400px;
         
         }   
        </style>       
      
        <script type="text/javascript">
        
            x = navigator.geolocation;
        
            x.getCurrentPosition(success, failure);
        
            function success(position)
            {
                var myLat = position.coords.latitude;
                var myLong = position.coords.longitude;
        
                var coords = new google.maps.LatLng(myLat, myLong);
                
                var mapOptions = {
        
                    zoom: 12,
                    center: coords,
                   
                    mapTypeId: google.maps.MapTypeId.ROADMAP
        
                }
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        
                var marker = new google.maps.Marker({map:map, position: coords});
            
            }
        
            function failure()
            {
                
            }
        
        </script>
    </head>
<body >

    {% if result == 'No schizophrenia' %}
    <div class="jumbotron jumbotron-fluid bg-success">
        <div class="container">
            <h1 class="display-4 font-weight-bold">No schizophrenia</h1>
            <p class="lead">You are free from schizophrenia</p>
            
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="card col-md-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Seek face-to-face support</h5>
                    <p class="card-text">
                        Connecting face-to-face with others is the most effective way to calm your nervous system and relieve stress. Since stress can trigger psychosis and make the symptoms of schizophrenia worse, keeping it under control is extremely important. Find someone you can connect with face to face on a regular basis—someone you can talk to for an uninterrupted period of time who will listen to you without judging, criticizing, or continually becoming distracted.
                        </p>
                </div>
            </div>
            <div class="card col-md-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Manage stress</h5>
                    <p class="card-text"> 
                        The day-to-day stress of living with a challenging emotional disorder such as schizophrenia can be draining. High levels of stress also increase the body’s production of the hormone cortisol, which may trigger psychotic episodes. As well as exercising and staying socially connected, there are plenty of steps you can take to reduce your stress levels:
                        Use relaxation techniques to relieve stress.
                        </p>
                </div>
            </div>
            <div class="card col-md-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> Lifestyle changes</h5>
                    <p class="card-text">Take care of yourself
                        Making simple lifestyle changes can have a huge impact on the way you feel as well as your symptoms.
                        Try to get plenty of sleep. When you’re on medication, you most likely need even more sleep than the standard 8 hours.It can be tempting to try to self-medicate the symptoms of schizophrenia with drugs and alcohol. But substance abuse complicates schizophrenia treatment and only worsens symptoms. If you have a substance abuse problem, seek help.
                        Eat a healthy, balanced diet.
                        </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card col-md-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Medication</h5>
                    <p class="card-text">Understand the role of medication
                        If you’ve been diagnosed with schizophrenia, you will almost certainly be offered antipsychotic medication. The two main groups of medications used for the treatment of schizophrenia are the older or “typical” antipsychotic medications and the newer “atypical” antipsychotic medications. It’s important to understand that medication is just one component of schizophrenia treatment.
                         </p>
                </div>
            </div>
            <div class="card col-md-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Manage your emotions</h5>
                    <p class="card-text">Understanding and accepting emotions—especially those unpleasant ones most of us try to ignore—can make a huge difference in your ability to manage stress, balance your moods, and maintain control of your life. See HelpGuide’s Emotional Intelligence Toolkit.</p>
                </div>
            </div>
            <div class="card col-md-4" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Activity and exercise</h5>
                    <p class="card-text">Activity and exercise are essential in maintaining good mental health. Being active not only gives you a sense of achievement, but it boosts the chemicals in your brain that help put you in a good mood. Exercising can help eliminate low mood, anxiety, stress and feeling tired and lazy.</p>
                </div>
            </div>
        </div>
    </div>
    {% else %}
    <div class="jumbotron jumbotron-fluid bg-warning">
        <div class="container">
            <h1 class="display-4 font-weight-bold">Please constult a doctor</h1>
            <p class="lead">We have notied that you have higher chances of schizophrenia. We will be showing the nearest Clinics below. Please get consultation from the doctor.</p>
        </div>
    </div>
  <h1> Call  1800-599-0019 </h1>
  
  <!--The div element for the map -->
  <center><div id="map"></div></center>
 
  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  
    {% endif %}
   
   

</body>
</html>