<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="jquery-2.1.4.js"></script>
        <script type="text/javascript" src="https://maps.google.com/maps/api/js?key=AIzaSyBUn4VV7RzbmmupshD8Fh1ZLaXI12q4Ch0"></script>


        <style type="text/css">

        #map { width: 400px;
 		height: 400px;
         
         }   
        </style>       
      
        <script type="text/javascript">
        
            x = navigator.geolocation;
        
            x.getCurrentPosition(success, failure);
        
            function success(position)
            {
                var myLat = position.coords.latitude;
                var myLong = position.coords.longitude;
        
                var coords = new google.maps.LatLng(myLat, myLong);
                
                var mapOptions = {
        
                    zoom: 12,
                    center: coords,
                   
                    mapTypeId: google.maps.MapTypeId.ROADMAP
        
                }
                var map = new google.maps.Map(document.getElementById("map"), mapOptions);
        
                var marker = new google.maps.Marker({map:map, position: coords});
            
            }
        
            function failure()
            {
                
            }
        
        </script>
    </head>
<body >

    {% if result == 'No schi' %}
    <div class="jumbotron jumbotron-fluid bg-success">
        <div class="container">
            <h1 class="display-4 font-weight-bold">No schi</h1>
            <p class="lead">You are free from schi.</p>
            
        </div>
    </div>
    <h3>Accept your diagnosis. As upsetting as a diagnosis of schizophrenia can be, resolving to take a proactive role in treatment and self-help is crucial to your recovery. That means making healthy lifestyle changes, taking prescribed medications, and attending medical and therapy appointments.
        Pursue self-help and therapy that helps you manage symptoms. Don’t rely on medication alone. Self-help strategies can help you to manage symptoms and regain a sense of control over your health and well-being. Supportive therapy can teach you how to challenge delusional beliefs, ignore voices in your head, protect against relapse, and motivate yourself to persevere with treatment and self-help.
        Set and work toward life goals.  Having schizophrenia doesn’t mean you can’t work, have relationships, or experience a fulfilling life. Set meaningful life goals for yourself beyond your illness.
         Get active
        As well as providing all the emotional and physical benefits, regular exercise can even help to manage symptoms of schizophrenia. Unless you’re experiencing a psychotic episode, getting physically active is something you can do right now to improve your focus, relieve stress, give you more energy, help you sleep, and make you feel calmer.
        Seek face-to-face support
        Connecting face-to-face with others is the most effective way to calm your nervous system and relieve stress. Since stress can trigger psychosis and make the symptoms of schizophrenia worse, keeping it under control is extremely important. Find someone you can connect with face to face on a regular basis—someone you can talk to for an uninterrupted period of time who will listen to you without judging, criticizing, or continually becoming distracted.
         Manage stress
        The day-to-day stress of living with a challenging emotional disorder such as schizophrenia can be draining. High levels of stress also increase the body’s production of the hormone cortisol, which may trigger psychotic episodes. As well as exercising and staying socially connected, there are plenty of steps you can take to reduce your stress levels:
        Use relaxation techniques to relieve stress. Techniques such as mindfulness meditation, deep breathing, or progressive muscle relaxation can put the brakes on stress and bring your mind and body back into a state of balance.
        Manage your emotions. Understanding and accepting emotions—especially those unpleasant ones most of us try to ignore—can make a huge difference in your ability to manage stress, balance your moods, and maintain control of your life. See HelpGuide’s Emotional Intelligence Toolkit.
        
        Take care of yourself
        Making simple lifestyle changes can have a huge impact on the way you feel as well as your symptoms.
        Try to get plenty of sleep. When you’re on medication, you most likely need even more sleep than the standard 8 hours. Many people with schizophrenia have trouble with sleep, but getting regular exercise, reducing sugar in your diet, and avoiding caffeine can help.
        Avoid alcohol and drugs. It can be tempting to try to self-medicate the symptoms of schizophrenia with drugs and alcohol. But substance abuse complicates schizophrenia treatment and only worsens symptoms. If you have a substance abuse problem, seek help.
        Eat a healthy, balanced diet. Eating regular, nutritious meals can help avoid psychosis and other schizophrenia symptoms brought on by substantial changes in blood sugar levels. Minimize sugar and refined carbs, foods that quickly lead to a crash in mood and energy. Boost your intake of omega-3 fatty acids from fatty fish, fish oil, walnuts, and flaxseeds to help improve focus, banish fatigue, and balance your moods.
        Understand the role of medication
        If you’ve been diagnosed with schizophrenia, you will almost certainly be offered antipsychotic medication. The two main groups of medications used for the treatment of schizophrenia are the older or “typical” antipsychotic medications and the newer “atypical” antipsychotic medications. It’s important to understand that medication is just one component of schizophrenia treatment.
    </h3>
   
    {% else %}
    
  <h1>hi</h1>
  <h3>My Google Maps Demo</h3>
  <!--The div element for the map -->
  <div id="map"></div>
  <h1>schi</h1>
  <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
  
    {% endif %}
    <div id="map"> </div>
   

</body>
</html>